<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">



<nav class="sidebar" [class.mobile-open]="isSidebarOpen">
  <div class="sidebar-header">
    <div class="brand-mark">
      <img src="images/logo.svg" alt="ABU-TECH">
    </div>
    <button class="mobile-toggle" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="nav-menu">
    <li *ngFor="let item of menuItems" 
        [routerLink]="item.link" 
        routerLinkActive="active"
        (click)="closeSidebar()"> <!-- Close sidebar when an item is clicked -->
      <a>
        <i [class]="item.icon + ' fa-fw'"></i>
        <span>{{ item.title }}</span>
      </a>
    </li>
  </ul>
</nav>
