@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }

// .bp-webchat-bubble {
//   background: #007BFF !important; /* ABU TECH brand color */
//   animation: pulse 2s infinite;
//   margin: 20px !important;
// }

// @keyframes pulse {
//   0% { transform: scale(1); }
//   50% { transform: scale(1.1); }
//   100% { transform: scale(1); }
// }